-r requirements.txt
pytest>=8.3.4
hypothesis>=6.122.1
xgboost>=2.1.3
catboost>=1.2.7
keras>=3.7.0
tensorflow>=2.16.2
lightgbm>=4.5.0
lightning>=2.4.0

# repo maintenance tooling
black>=21.5b1
coverage>=6.4.4
flake8>=3.9.2
isort>=5.8.0